#content{
	text-align: center;
	padding-top: 25%;
}

body{

	background: url(https://images.pexels.com/photos/348689/pexels-photo-348689.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.companyName{
	color: #000034;
	font-family: 'Caveat Brush', cursive;
	text-shadow: 1px;
}

h1{
	font-size: 5em;
	font-weight: 500;
	text-shadow: 1px 1px 2px lightblue;
	
}

html{
	height: 100%;
}

hr {
	width: 450px;

}