h1{
	color: #2c3e50;
}

body{

	border: 8px solid #bdc3c7;
	padding: 10px;
	max-width: 700px;
	width: 80%
	margin: auto;
	font-family: 'Source Sans Pro', sans-serif;
	/*margin-left: 25%;
	margin-right: 25%;
	margin-top: 5%;*/

}
h2{
	color: #3498db;
	text-transform: uppercase;
}

span{
	border-left: 2px solid #bdc3c7;
}

p{
	border-bottom: 2px solid #bdc3c7;
}