p{
	font-family: 'Raleway', sans-serif;
	font-size: 10px;
}

h1{
	font-family: 'Indie Flower', cursive;

}
/*Font Size*/

h1{
	font-size: 50px;
}

/*em is proportionate (2x) to the parent (in this case, p)*/
span{
	font-size: 2.0em;
}


p{
	font-weight: bold;
}

/*Line Height - Line spacing like in Word*/
p{
	line-height: 1.5;
}

h1{
	text-align: center;
}

p{
	text-decoration: line-through;
}